package {{ packages.entity }};

import org.springframework.data.annotation.Id;
import org.springframework.data.mongodb.core.mapping.Document;

import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;

@Document(collection = "{{ name.plural_snake }}")
@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
@Builder
public class {{ name.pascal }} {

    @Id
    private {{ id_type }} id;
}
